body {
    color: #fff;
    background: #000;
}

.pdm-row {
    display: flex;
}

.pdm-col {
    width: 32%;
    background: rgba(51, 51, 51, 0.6);
    padding: 1rem;
    margin: 1%;
    border: 1px solid rgba(255,255,255,.12);
    border-radius: 0.2rem;
}

.card-header {
    font-size: 2rem;
    margin: 0 0 1rem 0;
    text-align: center;
    height: 5rem;
}

.card-image {
    text-align: center;
    display: block;
}

    .card-image > img {
        border-radius: 50%;
        border: 1px solid rgba(255,255,255,.3);
    }

.card-description {
    font-size: 1rem;
    margin: 1rem;
    margin: 1rem 0 1rem 0;
}

.card-table-info {
    width: 100%;
    border-top: 1px solid rgba(255,255,255,.12);
}


table.striped > tbody > tr:nth-child(odd) {
    background-color: rgba(255,255,255,.05);
}

.card-table-info-td {
    padding: 0 1rem;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(255,255,255,.12);
}


.card-table-footer {
    width: 100%;
    margin-top: 1rem;
}

.card-table-footer-price {
    color: #60963e;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    width: 50%;
}

.card-table-footer-button {
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    background: rgba(255,255,255,.12);
    padding: 0.5rem;
    border: 1px solid rgba(255,255,255,.12);
    border-radius: 0.2rem;
}

    .card-table-footer-button:hover {
        background: rgba(255,255,255,.3);
    }

